#trollio-frame {
  background: white;
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  z-index: 9001;
  border: none;
  border-left: 2px solid rgba(0, 0, 0, 0.5);
}

#trollio-frame.hidden {
  display: none;
}

#email-list {
  width: 100%;
  height: 200px;
}
